div.col-xs-6
  .col-xs-12
    h1 uw gegevens
  form
  .form-group
    .col-xs-10
      label(for='inputVoornaam') Voornaam<span>*</span> 
      input#inputVoornaam.form-control(type='name', placeholder='')
    .col-xs-4
      label(for='inputTussenvoegsel') Tussenvoegsel(s)
      input#inputTussenvoegsel.form-control(type='name', placeholder='')
    .col-xs-6
      label(for='inputAchternaam') Achternaam<span>*</span>
      input#inputAchternaam.form-control(type='name', placeholder='')
    .col-xs-12.checkbox
      label
      input(type='checkbox')
      |  Ik ontvang graag de Yourzine nieuwsbrief
    .col-xs-10
      .col-xs-12
        label(for='inputEmail') Email address
        input#inputEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='')
div.col-xs-6
  .col-xs-12
    h1 datum en tijdstip
    p Al onze inspiratiesessies vinden plaats in de ochtend, tussen 10:00 en 13:00, lunch en koffie worden door ons verzorgd.

    p.strong Ik laat mij graag inspireren op:





button.btn.btn-primary(type='submit') Verzenden
